<template>
    <router-link
        :to="item.path"
        v-slot="{href, navigate, isActive, isExactActive}"
        custom
        >
        <li class="nav-item">
            <a class="nav-link"
               :href="href"
               @click="navigate"
            >
                {{ item.title }}
            </a>
        </li>
    </router-link>

</template>
<script>
    export default {
        props: {
            item: {
                type: Object,
                default: () => ({
                    title: undefined,
                    path: {}
                })
            }
        }
    }
</script>
