<template>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <template v-for="(item, i) in sidebarLinks">
                    <sidebar-link :item="item"></sidebar-link>
                </template>
            </ul>
        </div>
    </nav>
</template>
<script>
    export default {
        name: "Sidebar",
        data() {
            return {}
        },
        props: {
            sidebarLinks: {
                type: Array,
                default: () => []
            }
        }
    }
</script>
