<template>
    <!-- Navbar -->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">INFEST</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <b-dropdown id="dropdown-1" text="Dropdown Button" class="d-flex">
            <template #button-content>
                <div class="position-relative">
                    <div class="d-md-flex">
                        <b-avatar variant="info" class="mr-2" src="https://placekitten.com/300/300"></b-avatar>

                        <span class="float-left">
                            <span class="text-left d-block">
                                {{ userName }}
                            </span>
                            <span class="small">
                                {{ userEmail }}
                            </span>
                        </span>
                    </div>
                </div>
            </template>
            <b-dropdown-item @click.prevent="logout">Logout</b-dropdown-item>
        </b-dropdown>

      </nav>
</template>
<script>
export default {
    name: "navbar",
    data() {
        return {
            userData: [],
            route: 'acl/user-data'
        }
    },
    async mounted() {
        await this.getUserData()
    },
    computed: {
        userName() {
            return this.userData ? this.userData.name : ''
        },
        userEmail() {
            return this.userData? this.userData.email : ''
        }
    },
    methods: {
        getUserData() {
            axios.get(this.route)
            .then(response => {
                this.userData = response.data.data
              })
        },
        logout() {
            axios
                .request({
                    baseURL: '/',
                    method: 'post',
                    url: '/logout'
                })
                .then(
                    location.assign('/login')
                )
        }
    }
}
</script>

<style scope>
.dropdown-toggle::after{
    display:none !important
}
</style>
