<template>
    <form-input-template
        :form="form"
        :categories="categories"
        :routeFilter="routeFilter"
        @parentForm="postSubmit"
    ></form-input-template>
</template>

<script>
import FormInputTemplate from "./Form.vue";

export default {
    name: "FormInput",
    components: {
        FormInputTemplate
    },
    props: ['form', 'categories', 'route', 'routeFilter', 'modalName'],
    methods: {
        postSubmit(formSubmit) {
            axios.post(this.route, formSubmit)
                .then(response => {
                    // resolve(response)
                })
                .finally(() => {
                    this.$emit('modalPage', this.modalName + 'CreateSuccess')
                })
        }
    }
}
</script>
