<template>
    <div>
        <b-form @submit.prevent="onSubmit">
            <b-form-group>
                <label for="name">Name</label>
                <b-form-input
                    id="name"
                    v-model="form.name"
                    type="text"
                    required
                    placeholder="Input Reader Name"
                ></b-form-input>
            </b-form-group>
            <b-form-group>
                <label for="phone">Phone</label>
                <b-form-input
                    id="phone"
                    v-model="form.phone"
                    type="text"
                    placeholder="Input Reader Phone"
                ></b-form-input>
            </b-form-group>

            <b-form-group>
                <label for="address">Address</label>
                <b-form-textarea
                    id="address"
                    v-model="form.address"
                    placeholder="Input Reader Address"
                ></b-form-textarea>
            </b-form-group>

            <b-form-group>
                <label for="category">Category</label>
                <b-form-select
                    id="category"
                    v-model="categorySelected"
                    :options="categories"
                    placeholder="Select Reader Category"
                    @change="filterBooks"
                ></b-form-select>
            </b-form-group>

            <b-form-group>
                <label for="books">Books</label>
                <b-form-select
                    id="books"
                    :disabled="catFilter"
                    v-model="form.book_id"
                    :options="books"
                    placeholder="Select Books"
                ></b-form-select>
            </b-form-group>

            <div class="my-3">
                <b-button type="submit" variant="primary">
                    <font-awesome-icon icon="fa-solid fa-save" class="mr-1"></font-awesome-icon>
                    Submit
                </b-button>
            </div>

        </b-form>
    </div>
</template>
<script>
export default {
    props: ['form', 'categories', 'routeFilter'],
    data() {
        return {
            catFilter: true,
            categorySelected: '',
            books: [],
        }
    },
    methods: {
        onSubmit() {
            this.$emit('parentForm', this.form);
        },
        filterBooks(e) {
            let params = {
                category: e
            }
            axios.get(this.routeFilter, { params: params})
                .then( response => {
                    this.books = response.data.data.map((value, index) => {
                        return {
                            value: value.id,
                            text: value.title,
                        }
                    })

                    this.catFilter = false
                })
        },
    },
}
</script>
