<template>
    <section>
        <h2>Readers</h2>

        <b-modal id="createReaders" ref="modal" title="Create Reader" no-close-on-backdrop hide-footer>
            <create-reader
                :form="form"
                :categories="categories"
                :route="route"
                :routeFilter="routeFilter"
                :modalName="modalName"
                @modalPage="emitModal"
            >
            </create-reader>
        </b-modal>

        <div class="col-md-12 px-0">
            <b-card>
                <b-card-header>
                    <button
                        type="button"
                        class="btn btn-outline-dark mr-2"
                        @click="fetchIndexData"
                        :disabled="loading"
                        :class="{ disabled: loading}"
                    >
                        <font-awesome-icon icon="fa-solid fa-rotate" class="fa-spin mr-1" v-if="loading"></font-awesome-icon>
                        <font-awesome-icon icon="fa-solid fa-history" class="mr-1" v-else></font-awesome-icon>
                        Refresh
                    </button>
                    <button class="btn btn-primary" @click="showCreate">
                        <font-awesome-icon icon="fa-solid fa-plus" class="mr-1"></font-awesome-icon>
                        Create
                    </button>
                </b-card-header>
                <b-card-body>
                    <div class="row">
                        <div class="col-md-12 px-0">

                            <b-table
                                :items="data"
                                :busy="loading"
                                :fields="fields"
                                :current-page="currentPage"
                                :skeleton-rows="loading ? query.limit : 0"
                                :show-empty="!loading ? true : false"
                            >
                                <template #empty="scope">
                                    <h6 v-if="scope"> {{ scope.emptyText }}</h6>
                                </template>

                                <template
                                    v-if="loading"
                                    #custom-foot="{ columns }"
                                >
                                    <b-tr
                                        v-for="rowIndex in query.limit"
                                        :key="rowIndex"
                                    >
                                        <b-td
                                            v-for="(column, columnIndex) in columns"
                                            :key="columnIndex"
                                        >
                                            <b-skeleton></b-skeleton>
                                        </b-td>
                                    </b-tr>
                                </template>

                                <template #cell(book_id)="data">
                                    {{ data.item.books.title }}
                                </template>
                            </b-table>
                        </div>
                    </div>
                </b-card-body>
                <b-card-footer>
                    <b-row>
                        <b-col md="6">
                            Showing {{ meta.from }} to {{ meta.to}} of {{ meta.total }} items
                        </b-col>
                        <b-col md="6" class="text-right">
                            <b-pagination
                                pills
                                v-model="currentPage"
                                :total-rows="meta.total"
                                :per-page="query.limit"
                                align="fill"
                                size="sm"
                                @change="handlePagination"
                            ></b-pagination>
                        </b-col>
                    </b-row>

                </b-card-footer>
            </b-card>
        </div>
    </section>
</template>
<script>
import CreateReader from './Create.vue'
export default {
    components: {
      CreateReader
    },
    data() {
        return {
            route: 'readers',
            routeFilter: 'books-filter',
            modalName: 'Readers',
            currentPage: 1,
            loading: false,
            data: [],
            meta: [],
            fields: [
                { key: 'name', label: 'Name' },
                { key: 'phone', label: 'Phone' },
                { key: 'book_id', label: 'Book',}
            ],
            query: {
                page: 1,
                limit: 10
            },
            form: {
                name: '',
                phone: '',
                address: '',
                book_id: ''
            },
            categories: ['novel', 'dictionary', 'comic', 'biography']
        }
    },
    async mounted() {
        await this.fetchIndexData()
    },
    watch: {
        "query.page": {
            handler() {
                this.fetchIndexData()
            },
            deep: true
        }
    },
    methods: {
        handlePagination(page) {
            this.currentPage = page;
            this.query.page = page
        },
        fetchIndexData(){
            this.loading = true
            this.data = []
            axios
                .get(this.route, { params: this.query })
                .then(response => {
                    this.data = response.data.data
                    this.meta = {
                        from: response.data.from,
                        to: response.data.to,
                        total: response.data.total
                    }
                })
                .finally(() => {
                    this.loading = false
                })
        },
        showCreate() {
            this.$bvModal.show('create' + this.modalName)
        },
        emitModal(action, id) {
            if (action == this.modalName + 'CreateSuccess')
                this.createSuccess()
        },
        createSuccess() {
            this.$bvModal.hide('create' + this.modalName)
            this.fetchIndexData()
        }
    }
}
</script>
