<template>
    <section>
        <h2>Books</h2>
        <div class="col-md-12 px-0">
            <b-card>
                <b-card-header>
                    <button
                        type="button"
                        class="btn btn-primary"
                        @click="fetchIndexData"
                        :disabled="loading"
                        :class="{ disabled: loading}"
                    >
                        <font-awesome-icon icon="fa-solid fa-rotate" class="fa-spin mr-1" v-if="loading"></font-awesome-icon>
                        <font-awesome-icon icon="fa-solid fa-history" class="mr-1" v-else></font-awesome-icon>
                        Refresh
                    </button>
                </b-card-header>
                <b-card-body>
                    <div class="row">
                        <div class="col-md-12 px-0">

                            <b-table
                                :items="data"
                                :busy="loading"
                                :fields="fields"
                                :current-page="currentPage"
                                :skeleton-rows="loading ? query.limit : 0"
                                :show-empty="!loading ? true : false"
                            >
                                <template #empty="scope">
                                    <h6 v-if="scope"> {{ scope.emptyText }}</h6>
                                </template>

                                <template
                                    v-if="loading"
                                    #custom-foot="{ columns }"
                                >
                                    <b-tr
                                        v-for="rowIndex in query.limit"
                                        :key="rowIndex"
                                    >
                                        <b-td
                                            v-for="(column, columnIndex) in columns"
                                            :key="columnIndex"
                                        >
                                            <b-skeleton></b-skeleton>
                                        </b-td>
                                    </b-tr>
                                </template>
                            </b-table>
                        </div>
                    </div>
                </b-card-body>
                <b-card-footer>
                    <b-row>
                        <b-col md="6">
                            Showing {{ meta.from }} to {{ meta.to}} of {{ meta.total }} items
                        </b-col>
                        <b-col md="6" class="text-right">
                            <b-pagination
                                pills
                                v-model="currentPage"
                                :total-rows="meta.total"
                                :per-page="query.limit"
                                align="fill"
                                size="sm"
                                @change="handlePagination"
                            ></b-pagination>
                        </b-col>
                    </b-row>

                </b-card-footer>
            </b-card>
        </div>
    </section>
</template>
<script>
export default {
    data() {
        return {
            route: 'books',
            currentPage: 1,
            loading: false,
            data: [],
            meta: [],
            fields: [
                { key: 'title', label: 'Title' },
                { key: 'category', label: 'Category' },
                { key: 'price', label: 'Price', formatter: (value) =>
                    {
                        return 'Rp. ' + this.stringToNumber(value)
                    }
                }
            ],
            query: {
                page: 1,
                limit: 10
            }
        }
    },
    async mounted() {
        await this.fetchIndexData()
    },
    watch: {
        "query.page": {
            handler() {
                this.fetchIndexData()
            },
            deep: true
        }
    },
    methods: {
        handlePagination(page) {
            this.currentPage = page;
            this.query.page = page
        },
        fetchIndexData(){
            this.loading = true
            this.data = []
            axios
                .get(this.route, { params: this.query })
                .then(response => {
                     this.data = response.data.data
                     this.meta = {
                         from: response.data.from,
                         to: response.data.to,
                         total: response.data.total
                     }
                })
                .finally(() => {
                    this.loading = false
                })
        },
        stringToNumber(string) {
            var stringValue = parseInt(string)
            return stringValue.toLocaleString('id-ID')
        }

    }
}
</script>
